## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category networking and apps
#### workstation_only yes
#### description
## Runs <code>/usr/libexec/anon-ws-disable-stacked-tor/state-files</code> and
## <code>/usr/libexec/anon-ws-disable-stacked-tor/socat-unix-sockets</code>.
#### meta end

[Unit]
Description=anon-ws-disable-stacked-tor
Documentation=https://www.whonix.org/wiki/Dev/anon-ws-disable-stacked-tor
ConditionPathExists=!/run/qubes/this-is-templatevm

After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
TimeoutSec=30
KillMode=control-group
SuccessExitStatus=143 125
RestartPreventExitStatus=125
PermissionsStartOnly=true
ExecStartPre=/usr/libexec/anon-ws-disable-stacked-tor/state-files
User=debian-tor
ExecStart=/usr/libexec/anon-ws-disable-stacked-tor/socat-unix-sockets

[Install]
WantedBy=multi-user.target
